{{!< layoutName}} <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leave Team</title>


        <style>
            body {
                font-family: "Inter", sans-serif;
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                transition: background-color 0.3s, color 0.3s;
            }

            .container {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;

            }

            .container-data {
                margin: auto;
                max-width: 570px;
                padding: 20px;
                transition: background-color 0.3s, color 0.3s;
            }

            .email-text-style {
                color: var(--email-text-color, #333);
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }
        </style>
    </head>

    <body>

        <div class="container">
            <section style="width: 100%;">
                <div class="container-data">

                    {{> header}}

                    <section>

                        <div style="margin-bottom: 5%">
                            <h2 class="email-text-style">
                                Hi {{userName}},
                            </h2>

                            <p class="email-text-style">
                                You've been invited to join {{teamName}}, a cutting-edge API testing platform designed to<br/> simplify your development workflow and boost team collaboration
                            </p>

                            <p class="email-text-style">With powerful tools for REST API testing, seamless collection management, and<br/> intuitive workspace control, Sparrow makes API management faster, smarter, and<br/> more collaborative.
                            </p>

                            <a href="{{marketingUrl}}"
                                style="display: inline-block; background-color: #3670F7; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;">
                                Launch Sparrow
                            </a>

                            <p class="email-text-style">
                                Warm regards, <br> The Sparrow Team <br>
                                <a href="{{sparrowWebsite}}"
                                    style="font-weight: 400; text-decoration: none; color: #3670F7; border-bottom: 2px solid #3670F7 ;">
                                    {{sparrowWebsiteName}}</a>
                            </p>

                        </div>

                        <hr>

                    </section>


                    {{> footer}}


                </div>
            </section>
        </div>
    </body>

    </html>